h1,
p {
  font-family: Lato;
  margin: 0;
}
body {
  margin: 0;
}

ul {
  padding: 0;
  background: red;
  padding: 20px;
}

li {
  list-style-type: none;
}

.boundary {
  margin: 50px;
  width: 250px;
  height: 250px;
  background: purple;
}
